/* css/styles.less */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* css/styles_1.less */
.menu_1 {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu_1:before {
  content: "[";
}
.menu_1:after {
  content: "]";
}
.menu_1 > li {
  display: inline;
}
.menu_1 > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu_1 > li:nth-child(1):before {
  content: "";
  padding: 0;
}
